@charset "UTF-8";
/* CSS Document */


body{
font-size:12px;	
}
.taille9{
height:200px;
background-color:rgba(204,204,204,1);	
}

.formulaire{
height:290px;
background-color:rgba(153,153,153,1);	
}

.taille6{
height:200px;
}

.deal{
height:400px;
background-color:rgba(204,204,204,1);	
}

.traveler{
height:300px;
background-color:rgba(153,153,153,1);

}

.content{
height:720px;
}

.bloc_droite{
height:720px;
	
}

.bloc_gauche{
height:720px;
	
}

.news{
height:200px;
width:241px;
}

.gauche1{
height:380px;
}

.gauche2{
height:107px;
}

.company{
height:250px;
}

.destination{
height:300px;

}

.bas{
height:120px;
}

.size{
font-size:16px;	
}

.img1{
margin-left:0px;
height:50px;
}

.img2{
margin-left:0px;	
}

.img3{
margin-left:0px;	
}

.align{
text-align:center;	
}

.li1{
height:100px;
margin-left:0px;
margin-top:10px;	
}

.recherche{
height:20px;
margin-left:0px;
margin-top:-5px;
border:2px solid rgba(51,51,51,1);	
}